.place__container{
  display: flex;
  margin-top: 10vw;
  gap: 50px;
}

.left__place{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
}

.map{
  width: 100%;
  object-fit: contain;
  height: 100%;
}


.title__place{
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: clamp(40px,4vh,50px);
}



.right__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  width: 50%;
}

.place__1 {
  grid-column: 1 / 3; /* занимает две колонки */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.place__2,
.place__3 {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  overflow: hidden;
}
